    app.get("/feedback", function (req, res) {

        if (req.session.username) {
            let sqlquery = "Select * FROM staff WHERE Staff_id = ?"
            let staffid = [req.session.staffid];

            db.query(sqlquery, staffid, (err, result) => {
                if (err) {
                    res.redirect("/");
                }
                else
                    res.render("feedback.html", { staffDetails: result });
            });
        }
        else
            res.render("login.html");

    });

    app.post("/feedback_submitted", function (req, res) {
        // saving data in database
        let sqlquery = "Insert into feedback (name, email, feedback) values (?,?,?)";
        let newrecord = [req.body.name, req.body.email, req.body.feedback];
        db.query(sqlquery, newrecord, (err, result) => {
            if (err) res.redirect("/");
            else {
                res.render("feedback.html", { text: "hi" });
            }
        });
    });